*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    margin-top: -200px;
}
.image img{
    width: 25vw;
    /* height: 60vw; */
    
}
.text{
    width: 50vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}
 p{
    margin: 10px 0px;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    line-height: 1.6;
    
}
h1{
    width: 45vh;
    text-align: center;
    margin-top: -40px;
}
.container{
    display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: center;
    background-color: #f0c508;
    margin-top: 25vh;
    height: 75vh;
}
.buttn{
    width: 180px;
    height: 30px;
    background-color: black;
    color: wheat;
}
@media screen and (max-width: 480px ){
.container{
    display: flex;
    flex-direction: column;
    
}
#image img{
    width: 50vw;

}
.text{
    width: 70vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
}